In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pydataset import data
from scipy import stats

# Chi$^2$ ($\chi^2$) Test for Independence

aka Pearson's Chi$^2$ test. Pronounced as 'Ki' as in kite.


https://docs.google.com/presentation/d/13V7cMcgbM6bIQL2fbMtONre15iiNKpxnX7ECiWTxrVI/edit?usp=sharing


Lets us test the hypothesis that one group is independent of another
- $H_0$ is always that there is no association between the groups (they are independent)
- $H_a$ is that there is a association (they are not independent) between the groups


The null hypothesis assumes that the observed frequencies for a categorical variable match the expected frequencies for the categorical variable

## The Quick Way To Run a Chi$^2$ Test

In [2]:
# get data from pydataset
df = data('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

Form hypothesis:

- $H_0$ There is no association between the smoker and time of the day (independence)
- $H_a$ is that there is a association between smoker and time of day

In [4]:
# pandas crosstab to make a 'contingency' table
observed = pd.crosstab(df.smoker, df.time)
observed

time    Dinner  Lunch
smoker
No         106     45
Yes         70     23

In [5]:
# Set our alpha

alpha = 0.01

In [6]:
# chi2_contingency returns 4 different values

In [7]:
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected.astype(int))
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[106  45]
 [ 70  23]]
---
Expected

NameError: name 'expected' is not defined

In [8]:
if p < alpha:
    print('We reject the null')
else:
    print("we fail to reject the null")

NameError: name 'p' is not defined

## Attrition Data

In [ ]:
# get your data
df = pd.read_csv("https://gist.githubusercontent.com/ryanorsinger/6ba2dd985c9aa92f5598fc0f7c359f6a/raw/b20a508cee46e6ac69eb1e228b167d6f42d665d8/attrition.csv")

In [ ]:
# check the head
df.head()

In [ ]:
# check shape of the dataframe
df.shape

In [ ]:
# Check for which columns are discrete/categorical?
df.nunique()

#### Question we want to answer:

#### 1. Is Attrition independent from Business Travel amount?

In [ ]:
# look at # of categories in Attrition column

In [ ]:
# look at # of categories in business travel

Form hypothesis:

$H_0$: Attrition and Business travel have no association (They are independent)

$H_a$: Attrition and Business travel are associated (they are dependent)

In [ ]:
# Crosstab Attrition vs Business Travel

observed =

In [ ]:
# Set our alpha

alpha = 0.01

In [ ]:
# .chi2_contingency returns 4 different values

In [ ]:
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected.astype(int))
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

In [ ]:
null_hypothesis = "Attrition and Business Travel are independent"

if p < alpha:
    print("We reject the hypothesis that", null_hypothesis)
else:
    print("We fail to reject the null hypothesis")

## Mini Exercise:
#### Is Attrition independent from Department?

Form the null and alternate hypothesis

- $H_0$: There is no association between dept and attrition (independence)
- $H_a$: There is an association between dept and attrition

In [9]:
# how many categories we have in 'Department' column? (hint: value_counts())

df.Department.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Department'

In [10]:
# crosstab for observed values between Attrition and Depts
observed = pd.crosstab(df.Atrrition, df.Department)
observed

AttributeError: 'DataFrame' object has no attribute 'Atrrition'

In [ ]:
# use stats.chi2_contingency test 
chi2,

Decide using p-value:

In [ ]:
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected.astype(int))
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

In [ ]:
if p < alpha:
    print("We reject the hypothesis")
else:
    print("We fail to reject the null hypothesis")