# Hypothesis Testing

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

True Positive-
True Negative-
Type I Error-
Type II Error-

Is the website redesign any good?

True Positive-
True Negative-
Type I Error-
Type II Error-

Is our television ad driving more sales?

True Positive-
True Negative-
Type I Error-
Type II Error-

## Comparing Means Lesson Exercises

In [1]:
from math import sqrt
from scipy import stats
from pydataset import data
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
conf_interval = 0.95
alpha = 1 - conf_interval

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [3]:
# t-score 3.536 and P-value .0009
# I reject the Null Hypothesis based on these results.
first_office_mean = 90
stdev1 = 15
sample1 = 40
second_office_mean = 100
stdev2 = 20
sample2 = 50

t = (100 - 90) / (stdev2 / sqrt(sample2))
print(f"t-score = {t}")

p = stats.t(sample2-1).sf(t) * 2
print(f"p-value = {p}")

t-score = 3.5355339059327378
p-value = 0.0009000029669488137

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [4]:
import pydataset
from pydataset import data
mpg = data('mpg')

In [5]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
mpg['average_mileage'] = (mpg.hwy + mpg.cty) / 2
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0

In [7]:
mpg["average_mileage"] = (mpg["cty"] + mpg["hwy"]) / 2
average_mileage_1999 = (mpg[mpg["year"] == 1999].average_mileage).mean()
average_mileage_1999

20.22222222222222

In [8]:
average_2008 = (mpg[mpg["year"] == 2008].average_mileage).mean()
average_2008

20.076923076923077

In [9]:
average_1999 = (mpg[mpg["year"] == 1999].average_mileage).mean()
average_mileage_1999

20.22222222222222

There is no difference between the fuel efficiency between 2008 vs 1999. Null-hypothesis

### Are compact cars more fuel-efficient than the average car?

In [10]:
mpg.head(15)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,20.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,21.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,21.0
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,20.0

In [11]:
compact_mileage_series = mpg[mpg["class"] == "compact"].average_mileage
other_mileage_series = mpg[mpg["class"] != "compact"].average_mileage
stats.ttest_ind(compact_mileage_series, other_mileage_series)

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

In [12]:
compact_average_mileage = mpg[mpg["class"] == "compact"].average_mileage.mean()
compact_average_mileage

24.21276595744681

In [13]:
other_avg_mileage = mpg[mpg["class"] != "compact"].average_mileage.mean()
other_avg_mileage

19.128342245989305

### Do manual cars get better gas mileage than automatic cars?

In [14]:
mpg['manual_avg_mpg'] = (mpg.hwy + mpg.cty) / 2
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,manual_avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0,24.0

In [15]:
manual_mileage_series = mpg[mpg["trans"].str.contains("man")].average_mileage
auto_mileage_series = mpg[mpg["trans"].str.contains("auto")].average_mileage
stats.ttest_ind(manual_mileage_series, auto_mileage_series)

manual_avg_mileage = mpg[mpg["trans"].str.contains("man")].average_mileage.mean()
manual_avg_mileage

22.227272727272727

In [16]:
auto_avg_mileage = mpg[mpg["trans"].str.contains("auto")].average_mileage.mean()
auto_avg_mileage

19.130573248407643

### Correlation Exercises

Does tenure correlate with monthly charges? 

Total charges? 

What happens if you control for phone and internet service?

In [17]:
telco = pd.read_csv("telco_churn.csv")
telco = telco.dropna()
telco.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [18]:
monthly_charges = telco.MonthlyCharges
tenure = telco.tenure

In [19]:
corr, p = stats.pearsonr(tenure, monthly_charges)
corr, p

(0.2468617666408957, 3.9898213232510553e-98)

In [20]:
total_charges = telco.TotalCharges

corr, p = stats.pearsonr(telco.tenure, telco.TotalCharges)
corr, p

(0.8258804609332093, 0.0)

### Use the employees database.
Is there a relationship between how long an employee has been with the company and their salary?

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [21]:
def get_db_url(db_name):
    from env import host, user, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [22]:
url = get_db_url("employees")
sql = """
    SELECT emp_no, salary, DATEDIFF('2002-09-30', employees.hire_date) as datediff, employees.hire_date, titles.title
    FROM salaries
    JOIN employees USING(emp_no)
    JOIN titles USING(emp_no)
    WHERE
    salaries.to_date > '2002-09-30'
    AND titles.to_date > '2002-09-30';
"""
emp_salaries = pd.read_sql(sql, url)

In [23]:
emp_salaries.head()

   emp_no  salary  datediff   hire_date            title
0   10001   88958      5940  1986-06-26  Senior Engineer
1   10002   72527      6157  1985-11-21            Staff
2   10003   43311      5877  1986-08-28  Senior Engineer
3   10004   74057      5782  1986-12-01  Senior Engineer
4   10005   94692      4766  1989-09-12     Senior Staff

In [24]:
salary = emp_salaries.salary
datediff = emp_salaries.datediff

r, p = stats.pearsonr(salary, datediff )
r, p

(0.30646256131860894, 0.0)

### Chi 2 Exercises

1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

In [25]:
cu_student = 50 / 200
ncu_student = 50 / 200
mac_user = 69 / 200
not_mac_user = 31 / 200
print(f"cu_student = {cu_student}")
print(f"ncu_student = {ncu_student}")
print(f"mac_user = {mac_user}")
print(f"not_mac_user = {not_mac_user}")

cu_student = 0.25
ncu_student = 0.25
mac_user = 0.345
not_mac_user = 0.155

In [26]:
cu_mac_user = cu_student * mac_user
ncu_mac_user = ncu_student * mac_user
cu_not_mac_user = cu_student * not_mac_user
ncu_not_mac_user = ncu_student * not_mac_user

In [27]:
cu_mac_user

0.08625

In [28]:
ncu_mac_user

0.08625

In [29]:
cu_not_mac_user

0.03875

In [30]:
ncu_not_mac_user

0.03875

2. Choose another 2 categorical variables from the mpg dataset and perform a chi2
 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [31]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,manual_avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0

In [32]:
ctab = pd.crosstab(mpg.year, mpg.average_mileage)
ctab.mean(axis=1)

year
1999    2.925
2008    2.925
dtype: float64

In [33]:
chi2_stat, p, degf, expected = stats.chi2_contingency(ctab)
print(f"chi^2_stat = {chi2_stat:.4f}")
print(f"p = {p:.4f}")

chi^2_stat = 73.3015
p = 0.0007

3. Use the data from the employees database to answer these questions:

Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

Is an employee's gender independent of whether or not they are or have been a manager?

In [34]:
query = '''SELECT e.gender, d.dept_name
FROM employees AS e
JOIN dept_emp as dn ON dn.emp_no = e.emp_no
AND to_date > CURDATE()
JOIN departments AS d ON dn.dept_no = d.dept_no'''

In [35]:
# part one
gender_dept = pd.read_sql(query, url)

In [36]:
gender_dept.head()

  gender         dept_name
0      M  Customer Service
1      F  Customer Service
2      M  Customer Service
3      F  Customer Service
4      F  Customer Service

In [37]:
gender_dept.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240124 entries, 0 to 240123
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   gender     240124 non-null  object
 1   dept_name  240124 non-null  object
dtypes: object(2)
memory usage: 3.7+ MB

In [38]:
gender_dept = gender_dept[(gender_dept.dept_name == 'Sales') | (gender_dept.dept_name == 'Marketing')]

In [39]:
observed = pd.crosstab(gender_dept.gender, gender_dept.dept_name)
observed

# HO gender of the employee is independent to department of marketing or sales
# Ha gender of the employee is not independent to department of marketing or sales

dept_name  Marketing  Sales
gender
F               5864  14999
M               8978  22702

In [40]:
# part two

query = '''SELECT e.emp_no, e.gender, dm.dept_no
FROM employees as e
LEFT JOIN dept_manager AS dm ON e.emp_no = dm.emp_no'''

In [41]:
gender_manager = pd.read_sql(query, url)
gender_manager

        emp_no gender dept_no
0        10001      M    None
1        10002      F    None
2        10003      M    None
3        10004      M    None
4        10005      M    None
...        ...    ...     ...
300019  499995      F    None
300020  499996      M    None
300021  499997      M    None
300022  499998      M    None
300023  499999      M    None

[300024 rows x 3 columns]

In [42]:
gender_manager = gender_manager.rename(columns={'dept_no': 'manager'}).fillna(0)

In [43]:
gender_manager.head()

   emp_no gender manager
0   10001      M       0
1   10002      F       0
2   10003      M       0
3   10004      M       0
4   10005      M       0

In [44]:
gender_manager['manager'] = gender_manager['manager'].apply(lambda x: x if x == 0 else 1)

In [45]:
observed = pd.crosstab(gender_manager['gender'], gender_manager['manager'])
observed

manager       0   1
gender
F        120038  13
M        179962  11

In [46]:
chi2, p, degf, expected = stats.chi2_contingency(observed)


print('Observed\n:')
print(observed.values)
print('------------------------\nExpected: \n')
print(expected.astype(int))
print('------------------------\n')
print(f'chi2 = {chi2:.2f}')
print(f'p value: {p:.4f}')
if p < alpha:
      print('We can reject the null hypothesis')
else:
    print('We fail to reject the null hypothesis')

Observed
:
[[120038     13]
 [179962     11]]
------------------------
Expected:

[[120041      9]
 [179958     14]]
------------------------

chi2 = 1.46
p value: 0.2275
We fail to reject the null hypothesis