# Hypothesis Testing

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

True Positive-
True Negative-
Type I Error-
Type II Error-

Is the website redesign any good?

True Positive-
True Negative-
Type I Error-
Type II Error-

Is our television ad driving more sales?

True Positive-
True Negative-
Type I Error-
Type II Error-

## Comparing Means Lesson Exercises

In [4]:
from math import sqrt
from scipy import stats
from pydataset import data
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [20]:
# t-score 3.536 and P-value .0009
# I reject the Null Hypothesis based on these results.
first_office_mean = 90
stdev1 = 15
sample1 = 40
second_office_mean = 100
stdev2 = 20
sample2 = 50

t = (100 - 90) / (stdev2 / sqrt(sample2))
print(f"t-score = {t}")

p = stats.t(n2-1).sf(t) * 2
print(f"p-value = {p}")

t-score = 3.5355339059327378
p-value = 0.0009000029669488137

In [19]:
df = sns.load_dataset('mpg')
df.origin.value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [14]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact